ion-title.ios.title-large {
    line-height: 1.6 !important;
    font-size: 31px;
}

ion-toast {
    --background: var(--ion-color-step-200, #cccccc);
}

body.show-scanner #app { display: none !important; }
body.show-scanner { background: transparent !important; }
body.show-scanner #scan-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
}

ion-card {
    box-shadow: rgba(0, 0, 0, .08) 0px 2px 8px;
}
