body {
    font-family: Inter, Roboto, 'Helvetica Neue', sans-serif;
}

ion-title.ios.title-large {
    line-height: 1.6 !important;
    font-size: 31px;
}

body.show-scanner #app { display: none !important; }
body.show-scanner { background: transparent !important; }
body.show-scanner #scan-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
}

ion-card {
    box-shadow: rgba(0, 0, 0, .08) 0px 2px 8px;
}

ion-header {
    background: var(--ion-background-color);
}

ion-list.list-md {
    padding-top: 0;
    padding-bottom: 0;
}

ion-card.md {
    margin-bottom: 20px;
}

.dot-active {
    width: 10px;
    height: 10px;
    background: rgba(var(--ion-color-success-rgb), 1);
    display: inline-block;
    margin-left: .5rem;
    border-radius: 50%;
    box-shadow: 0 0px 3px 0 rgba(var(--ion-color-success-rgb), .7);
    animation: dot-active 1s infinite alternate;
}
@keyframes dot-active {
    0% { opacity: 1; }
    100% { opacity: .5; }
}

ion-list.transparent-bg {
    background: transparent !important;
}
ion-toolbar.transparent-bg,
ion-item.transparent-bg {
    --background: transparent;
}

.item-lines-full,
.header-ios ion-toolbar:last-of-type,
.list-ios-lines-full .item, .list-ios .item-lines-full {
    --border-width: 0 0 .7px 0;
}

ion-item.h-0 {
    height: 1px !important;
    --min-height: 0px;
}

input::selection {
    background: rgba(0, 0, 0, .1);
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    --tw-ring-color: transparent;
}
