<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>6PL683D69K</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>com.zeitstrom.utaxmobile</key>
        <string>2021-04-07-com-zeitstrom-utaxmobile</string>
    </dict>
</dict>
</plist>
